.blogito-jp-sharing {
    display: none;
    position: absolute;
    padding: $grid-gutter-width/4 0 0 $grid-gutter-width;
    //top: 0;
    right: 4rem;
    bottom: 0;
    //border-bottom: solid 1px transparent;
    left: 0;
    height: 100%;
    background-color: $color__background-body;
    .sd-content {
	ul {
	    margin: 0 !important;
	    min-width: 200px;
	    background-color: $color__background-body;
	}
    }
    div.sharedaddy h3.sd-title {
	display: none;
    }
    .sharedaddy {
	&.sd-sharing-enabled {
	    width:100%;
	}
    }
    &.jp-sharing-visible {
	//position: absolute;
	//bottom: 18px;
	//background-color: $color__background-body;
    }
}

.blogito-jp-sharing-close, .blogito-jp-sharing-toggle {
    background-color: transparent;
    border: none;
    float: right;
    padding: 0;
}

.blogito-jp-sharing-close {
    display: none;
    svg {
	line{
	    stroke: $color__extra-dark;
	}
    }
}

.blogito-jp-sharing-toggle {
    margin-left: $grid-gutter-width/2;
    svg {
	margin-top: 1px;
    }
}

.single, .page {
    .blogito-jp-sharing {
	display: block;
	position: static;
	padding: 0 0 $grid-gutter-width;
	div.sharedaddy h3.sd-title {
	    display: inline-block;
	}
    }
}
